
@{
    ViewBag.Title = "OnlyAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xin lỗi bạn ! đây là khu vực dành cho quản trị viên hệ thống</h2>
<li>@Html.ActionLink("Trở về trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

